.transactionHistoryTable {
  width: 648px;
  margin-top: 40px;
  border: 2px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-collapse: collapse; /* Встановлює режим накладення рамок */
}

.transactionHistoryHead {
  background-color: rgb(58, 58, 58);
  color: white;
}

.transactionHistoryRow {
  padding: 8px;
  height: 40px;
}

.transactionHistoryRow th,
.transactionHistoryRow td {
  border: 1px solid black; /* Задає рамку для стовпців */
  text-align: center;
}

.transactionHistoryTable td:first-child {
  text-transform: capitalize;
}

/* Задає фон білого кольору для непарних рядків */
.transactionHistoryTable tbody tr:nth-child(odd) {
  background-color: white;
}

/* Задає фон сірого кольору для парних рядків */
.transactionHistoryTable tbody tr:nth-child(even) {
  background-color: lightgray;
}
